<li>Question: {{question.theQuestion}} {{#link-to 'question' question.id}}Read more{{/link-to}}
  <ul>
    <li>Author: {{question.author}} </li>
    <li>upVotes: {{question.upVotes}} </li>
    <li>downVotes: {{question.downVotes}}</li>
  </ul>
</li>
