.answer {
  border: 2px solid black;
  margin: 10px 0px 0px 0px;
  background-color: #eee;
}

.btn-success {
  margin: 10px 0px 0px 0px;
}
.btn-primary {
  margin: 10px 0px 10px 0px;
}

.questionPage {

}
