<div class="container">
  <div class="jumbotron">
    <a id="headerLink" href="/"><h1>Welcome to the Q &amp; A web app</h1></a>
  </div>
  <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          {{#link-to 'index'}}<a class="navbar-brand" href="#"><span class="logo">Q &amp; A web app</span></a>{{/link-to}}
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            {{#bs-dropdown tagName="li"}}
              {{#bs-dropdown-toggle}}Search<span class="caret"></span>{{/bs-dropdown-toggle}}
              {{#bs-dropdown-menu}}
                <li>{{#link-to 'stupid'}}Stupid questions{{/link-to}}</li>
                <li>{{#link-to 'tech'}}Technology questions{{/link-to}}</li>
                <li>{{#link-to 'games'}}Video Game questions{{/link-to}}</li>
                <li>{{#link-to 'code'}}Coding questions{{/link-to}}</li>
              {{/bs-dropdown-menu}}
            {{/bs-dropdown}}
          </ul>
        </div>
      </div>
    </nav>
  {{outlet}}
</div>
